<!DOCTYPE html>
<html>
<head>
  <title>Allen-Sauer Consulting, Inc.</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% include "site/site.css" %}
{% include "site/override.css" %}
{% include "site/google-analytics.html" %}
</head>

<body id="twocolumn-left">
  <div id="container">
    <div class="wrapper">
      <div id="header">
        <div class="wrapper">
          <h1 id="page-title"><span id='g_title'>Allen-Sauer Consulting, Inc.<br></span></h1>
          <div style="clear: both"></div>
          <div class="description"><div id='g_description'><p><font size="4">Applications Solution Provider</font> <br></p></div></div>
          <div style="clear: both"></div>
        </div>
      </div>
      <!-- /wrapper --><!-- /header -->
      <div id="main-content">
        <div class="wrapper">
          <div class="content-item"><div id='g_body'>{% include content %}</div></div>
          <div style="clear: both"></div>
        </div>
      </div>
      <!-- /wrapper --><!-- /main-content -->
      <div id="sidebar">
        <div class="wrapper">
          <div class="links">
            <div class="wrapper"><div id='g_sidebar'>{% include "site/nav.php" %}</div></div>
            <div style="clear: both"></div>
          </div>
    <!-- /wrapper --><!-- /links -->
        </div>

      </div>
      <!-- /wrapper --><!-- /sidebar -->
      <div id="footer"><div class="wrapper">
        <hr />
        <div id='g_footer'>{% include "site/footer.php" %}</div>
        <div style="clear: both"></div>
      </div></div>
      <!-- /wrapper --><!-- /footer -->
    </div>
  </div>
  <!-- /wrapper --><!-- /container -->

<div id="extraDiv1"><span></span></div><div id="extraDiv2"><span></span></div>
<div id="extraDiv3"><span></span></div><div id="extraDiv4"><span></span></div>
<div id="extraDiv5"><span></span></div><div id="extraDiv6"><span></span></div>

</body>
</html>
